<h3>{{tournamentName()}}</h3>

<table>
  <thead>
    <th>Année</th>
    <th>Vainqueur</th>
    <th>Finaliste</th>
    <th>Score</th>
  </thead>

  <tbody>
    @for(tournamentFinal of tournamentFinals(); track $index) {
      @if(!onlyFrom2000() || (onlyFrom2000() && tournamentFinal.year >= 2000)) {
        <tr>
          <td>{{tournamentFinal.year}}</td>
          <td class="winner" [style.background-color]="getPlayerBackgroundColor(tournamentFinal.winner)">{{tournamentFinal.winner}}</td>
          <td [style.background-color]="getPlayerBackgroundColor(tournamentFinal.finalist)">{{tournamentFinal.finalist}}</td>
          <td [style.background-color]="getPlayerBackgroundColor(tournamentFinal.winner, true, tournamentFinal.score)">{{tournamentFinal.score.join(' ')}}</td>
        </tr>
      }
    }
  </tbody>
</table>

