<header>
  <nav>
    <ul>
      <li [routerLink]="'/slams'" [class.active-link]="isActive('/slams')">Grands Chelem</li>
      <li [routerLink]="'/masters'" [class.active-link]="isActive('/masters')">Masters 1000</li>
      <li [routerLink]="'/slams-over-time'" [class.active-link]="isActive('/slams-over-time')">Progression Grands Chelem</li>
      <li [routerLink]="'/masters-over-time'" [class.active-link]="isActive('/masters-over-time')">Progression Masters 1000</li>
      <li [routerLink]="'/percentage-grand-slams-win'" [class.active-link]="isActive('/percentage-grand-slams-win')">Statistiques Grands Chelem</li>
    </ul>
  </nav>
</header>