<details open="true">
  <summary>Mix Grand Chelem</summary>
  <div class="slams">
    <app-tournaments-mix tournamentsMixName="Mix Grand Chelem" [tournamentsMixKeys]="getGrandsSlamsMixKeys()" [tournamentsMixLabels]="getGrandsSlamsMixLabels()" [tournamentsMixFinals]="getGrandsSlamsMixTournaments()"></app-tournaments-mix>
  </div>
</details>

<details open="true">
  <summary>Finales de Grand Chelem</summary>
  <div class="slams">
    <app-tournament tournamentName="Open d'Australie" [tournamentFinals]="australianOpenFinals"></app-tournament>
    <app-tournament tournamentName="Roland Garros" [tournamentFinals]="rolandGarrosFinals"></app-tournament>
    <app-tournament tournamentName="Wimbledon" [tournamentFinals]="wimbledonFinals"></app-tournament>
    <app-tournament tournamentName="US Open" [tournamentFinals]="usOpenFinals"></app-tournament>
  </div>
</details>


