<h1>Vainqueurs Tournois du Grand Chelemn</h1>

<h2>A partir de 1969</h2>

<h2>{{ _currentYear }}</h2>

<h2>Global</h2>

<app-winners [winners]="_currentWinnersGlobal"></app-winners>

<h2>Open d'Australie</h2>

<app-winners [winners]="_currentWinnersAO"></app-winners>

<h2>Roland Garros</h2>

<app-winners [winners]="_currentWinnersRG"></app-winners>

<h2>Wimbledon</h2>

<app-winners [winners]="_currentWinnersWB"></app-winners>

<h2>US Open</h2>

<app-winners [winners]="_currentWinnersUS"></app-winners>
