<details open="true">
  <summary>Mix Masters 1000</summary>
  <div class="slams">
    <app-tournaments-mix tournamentsMixName="Mix Masters 1000" [tournamentsMixKeys]="getGrandsSlamsMixKeys()" [tournamentsMixLabels]="getGrandsSlamsMixLabels()" [tournamentsMixFinals]="getGrandsSlamsMixTournaments()"></app-tournaments-mix>
  </div>
</details>

<details>
  <summary>Finales de Masters 1000</summary>
  <div class="slams">
    <app-tournament tournamentName="Indian Wells" [tournamentFinals]="indianWellsFinals"></app-tournament>
    <app-tournament tournamentName="Miami" [tournamentFinals]="miamiFinals"></app-tournament>
    <app-tournament tournamentName="Monte-Carlo" [tournamentFinals]="monteCarloFinals"></app-tournament>
    <app-tournament tournamentName="Madrid" [tournamentFinals]="madridFinals"></app-tournament>
    <app-tournament tournamentName="Rome" [tournamentFinals]="romeFinals"></app-tournament>
    <app-tournament tournamentName="Montréal" [tournamentFinals]="montrealFinals"></app-tournament>
    <app-tournament tournamentName="Cincinnati" [tournamentFinals]="cincinnatiFinals"></app-tournament>
    <app-tournament tournamentName="Shangai" [tournamentFinals]="shangaiFinals"></app-tournament>
    <app-tournament tournamentName="Paris" [tournamentFinals]="parisFinals"></app-tournament>
  </div>
</details>
