html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    // Couleurs des joueurs pour le background
    --color-player-federer: greenyellow;
    --color-player-nadal: orange;
    --color-player-evert: orange;
    --color-player-djokovic: red;
    --color-player-graf: red;
    --color-player-murray: deepskyblue;
    --color-player-navratilova: deepskyblue;
    --color-player-borg: yellow;
    --color-player-sampras: cadetblue;
    --color-player-agassi: mediumpurple;
    --color-player-williams: mediumpurple;
    --color-player-lendl: lightskyblue;
    --color-player-connors: antiquewhite;
    --color-player-mcenroe: lightgray;
    --color-player-king: lightgray;
    --color-player-wilander: pink;
    --color-player-alcaraz: brown;
    --color-player-sinner: limegreen;
    --color-player-score: beige;
    --color-player-default: transparent;
}