html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    // Couleurs des joueurs pour le background
    --color-player-roger_federer: greenyellow;
    --color-player-monica_seles: greenyellow;
    --color-player-rafael_nadal: orange;
    --color-player-chris_evert: orange;
    --color-player-novak_djokovic: red;
    --color-player-steffi_graf: red;
    --color-player-andy_murray: deepskyblue;
    --color-player-martina_navratilova: deepskyblue;
    --color-player-bjorn_borg: yellow;
    --color-player-justine_henin: yellow;
    --color-player-pete_sampras: cadetblue;
    --color-player-andre_agassi: mediumpurple;
    --color-player-serena_williams: mediumpurple;
    --color-player-venus_williams: #FF69B4;
    --color-player-ivan_lendl: lightskyblue;
    --color-player-jimmy_connors: antiquewhite;
    --color-player-margaret_court: antiquewhite;
    --color-player-john_mcenroe: lightgray;
    --color-player-billie_jean_king: lightgray;
    --color-player-default: transparent;
    --color-player-score: #f0f0f0;
}