<h1>Vainqueurs Tournois Masters 1000</h1>

<h2>A partir de 1987</h2>

<h2>{{ _currentYear }}</h2>

<h2>Global</h2>

<app-winners [winners]="_currentWinnersGlobal"></app-winners>

<h2>Indian Wells</h2>
<app-winners [winners]="_currentWinnersIN"></app-winners>

<h2>Miami</h2>
<app-winners [winners]="_currentWinnersMI"></app-winners>

<h2>Monte-Carlo</h2>
<app-winners [winners]="_currentWinnersMC"></app-winners>

<h2>Madrid</h2>
<app-winners [winners]="_currentWinnersMA"></app-winners>

<h2>Rome</h2>
<app-winners [winners]="_currentWinnersRO"></app-winners>

<h2>Montréal/Toronto</h2>
<app-winners [winners]="_currentWinnersMO"></app-winners>

<h2>Cincinnati</h2>
<app-winners [winners]="_currentWinnersCI"></app-winners>

<h2>Shanghai</h2>
<app-winners [winners]="_currentWinnersSH"></app-winners>

<h2>Paris</h2>
<app-winners [winners]="_currentWinnersPA"></app-winners>
